@import url("https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css");

/* Tailwind v3 필수 지시어 */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: 'Spoqa Han Sans Neo', 'Noto Sans KR', sans-serif;
    }
}
